color-background = #eee
color-footer-background = #262a30
color-border = #ddd
color-link = #258fb8
line-height = 1.6em

#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  div,span
    color: #999
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em